################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DebtManagementSystem/DebtManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
